.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  width: 310px;
  border: 1px solid white;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stroke {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.btn {
  background-color: gray;
}

.containerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.text {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
